@{
    ViewBag.Title = "Land Management System";
}

<!--==========================
    Intro Section
  ============================-->
<section id="intro">

    <div class="intro-text">
        <h2>Land Management System</h2>
        <a> @Html.ActionLink("Get Started", "Index", "Home",new { @class = "btn-get-started scrollto" }) </a>
    </div>
    
    <div class="product-screens">

        <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
            <img src="img/product-screen-1.png" alt="">
        </div>

        <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
            <img src="img/product-screen-2.png" alt="">
        </div>

        <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
            <img src="img/product-screen-3.png" alt="">
        </div>

    </div>

</section><!-- #intro -->
